dotenv
folium
google-ai-generativelanguage==0.6.18
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-oauthlib==1.2.2
google-genai==1.10.0
langchain==0.3.24
langchain-community==0.3.23
langchain-core
langchain-experimental==0.3.4
langchain-google-genai==2.1.4
numpy
oauthlib
osmnx
pandas
postgrest
psycopg2-binary
pydantic
python-weather==2.0.7
pytz
shapely
streamlit==1.45.0
streamlit-folium
supabase
tqdm
